@{
    ViewData["Title"] = "Home Page";
    if(User.Identity.IsAuthenticated)
    {
        ViewData["UserName"] = User.Identity.Name;
        Layout = "_LoggedInLayout";
    }
    else
    {
        Layout = "_Layout";
    }
}

<div class="text-center">
    <h1 class="display-4">Welcome To ToDo App!</h1>
    @if (!User.Identity.IsAuthenticated)
    {
    <p>Begin by <a asp-action="register" asp-controller="account">Creating an Account</a> or
    <a asp-action="login" asp-controller="account">Logging in</a></p>
    }
</div>
